## Official rules for Letter

***This is our rules for using our Letter services. All this rules are require to follow in order to use our services. All this rules is been set by our team.***

1) Age
You must be over age 10 to use our service. Under the age must contact Golden Pro support to use our service. We maybe approved if we agreed.

2) Raiding
You mustn't attack other account, hack their account or do illegal stuff. You also cannot make fake account to do something bad. No scamming user and spam useless things in a group. U also must not raid server.

3) Messaging
There are many kind of message. Since we are 10+ chat app, we want it to be clean. You should not send harmful and NSFW things at either pm or server. You will be allowed to send and access nsfw content if ur age is 18 or up

4) Personal Info
You shouldn't ask user for personal info of theirs. If they don't want to share don't ask. It is illegal. You also shouldn't share other user personal info to public or private place. You cannot take other message to lauch at them. U also cannot use their image for other use. 
It got reported or got detected when scan. U will get charges.

5) no cyber bullying
example swearing at someone calling them ugly

6) No Pg 18 things aloud. Please respect other

7) no selling ur acc or server. Please no selling using our service.

8) Please Respect all members by treating them how u wanna be treated.

9) No racial discrimination. Our service for all tradition

We reserve the right to lock your acc for violating our rules and we also reserve the right to ban your ip for lifetime from even opening our website.

<a href="https://Letterofficial.github.io/page1.html/">Page 2</a>
